<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>d25517cb-12d4-4699-8bdc-52040c712cab</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>3f83fe91-d6be-434d-a0ae-7351c5a997f1</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>10043121</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>10865270</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>AdMediator-Id-EE148D02-CC92-40CB-8DDF-24295D18C53E</Id>
        <Name>AdMediator_40F2F6</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>1.0.3</SchemaVersion>
  <UpdatedDateTime>2015-08-22T19:33:11.7497669Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>